<div class="absolute inset-x-0 shadow-xl bg-white md:w-4/5 mx-auto rounded-md border-t-8 border-yellow-400 mt-10 flex justify-center py-10">
  <div class="text-gray-600">

    <h1 class="text-2xl font-sans font-light text-gray-500 px-4">Events List</h1>

    <table class="text-left m-4 bg-gray-lighter">
      <thead>
        <tr>
          <th class="py-4 text-gray uppercase">Time</th>
          <th class="py-4 px-10 text-gray uppercase">Location</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr class="border-b border-gray-400 bg-gray-100 font-mono">
            <td class="px-2"><%= event.time %></td>
            <td class="px-10 py-3"><%= event.location %></td>
            <td class="pl-10 pr-2"><li class="py-1 px-2 bg-yellow-400 rounded font-black list-none"><%= link_to 'Show', event %></li></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
