<div class="absolute inset-x-0 shadow-xl bg-white md:w-4/5 mx-auto rounded-md border-t-8 border-yellow-400 mt-10 flex justify-center py-10">
  <div class="text-gray-600">
	<h1>New Event</h1>

	<%= render 'form', event: @event %>

	<%= link_to 'Back', events_path %>
  </div>
</div>